.mainTemp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    background:linear-gradient(lightblue,white);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    margin-left: 15%;
}